<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ScorePanel.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,854},{200,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,101}}</string>
                <key>sourceSize</key>
                <string>{200,101}</string>
            </dict>
            <key>bird_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,986},{36,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{36,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,929},{36,26}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{36,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bird_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,891},{36,26}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{36,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>bronze_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,898},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>copyright.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,806},{200,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{200,36}}</string>
                <key>sourceSize</key>
                <string>{200,40}</string>
            </dict>
            <key>day_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,516},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>gameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,806},{203,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,50}}</string>
                <key>sourceSize</key>
                <string>{203,50}</string>
            </dict>
            <key>getReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,806},{196,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,58}}</string>
                <key>sourceSize</key>
                <string>{196,58}</string>
            </dict>
            <key>gold_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,852},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>land.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{336,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,112}}</string>
                <key>sourceSize</key>
                <string>{336,112}</string>
            </dict>
            <key>newRecord.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,838},{32,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,14}}</string>
                <key>sourceSize</key>
                <string>{32,14}</string>
            </dict>
            <key>night_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,512}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,512}}</string>
                <key>sourceSize</key>
                <string>{288,512}</string>
            </dict>
            <key>number0.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,942},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>number1.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,853},{16,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>number2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,882},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>number3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,844},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>number4.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,806},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>number5.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,982},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>number6.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,944},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>number7.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,982},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>number8.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,944},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>number9.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,986},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>number_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,980},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>number_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,853},{10,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{10,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>number_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,920},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>number_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,920},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>number_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1004},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>number_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1004},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>number_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1004},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>number_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,1008},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>number_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1008},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>number_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,838},{14,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{14,20}</string>
            </dict>
            <key>pipe_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,516},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>pipe_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{52,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,320}}</string>
                <key>sourceSize</key>
                <string>{52,320}</string>
            </dict>
            <key>rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,806},{80,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,45}</string>
            </dict>
            <key>silver_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,806},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,806},{80,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,45}</string>
            </dict>
            <key>tapToStart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{112,99}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,99}}</string>
                <key>sourceSize</key>
                <string>{114,111}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,806},{178,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{178,48}}</string>
                <key>sourceSize</key>
                <string>{180,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e3f540533a7ce8292c01556aca29857:86d4002c31483ee0d8e87fd9c9b02b26:b2cae276934292945ac49b6ea6cfb4fe$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
